on:
  push:
    branches: [ci-testing]
    paths:
      - ".github/workflows/build-docker.yml"
      - ".github/Dockerfile"

permissions:
  packages: write

jobs:
  docker:
    - name: Build Docker Images
      uses: philips-software/docker-ci-scripts@v4.5.0
      with:
        dockerfile: ./.github/Dockerfile
        image-name: tosu-overlay-build-ci
        tags: latest
      env:
        REGISTRY_USERNAME: ${{ github.actor }}
        REGISTRY_TOKEN: ${{ github.token }}
        REGISTRY_URL: ghcr.io/k4zoku
        GITHUB_ORGANIZATION: k4zoku